STSDLE_HOST=127.0.0.1
STSDLE_PORT=3000
STSDLE_DATA_DIR=./var
SPIRE_CODEX_BASE_URL=https://spire-codex.com
STSDLE_ARTWORK_ALLOWED_ORIGINS=https://spire-codex.com
STSDLE_FULL_CARD_ALLOWED_ORIGINS=https://spire-codex.com
STSDLE_REQUEST_TIMEOUT_MS=30000
STSDLE_ARTWORK_CONCURRENCY=4
STSDLE_SKIP_SYNC=0
